#habilitar o rewrite
RewriteEngine on
#files - arquivos
RewriteCond %{SCRIPT_FILENAME} !-f
#directories - diretorios / pastas
RewriteCond %{SCRIPT_FILENAME} !-d
#envia todas as rotas para o index.php
RewriteRule ^(.*) index.php?p=$1