/site-modelo
/Java-oo-Munif
/Trabalho-php
/Git
/aula-c-sharp
/node_modules
/trabalho-boots
Suissa/Trabalho
React-Native/modelos
React-Native/TrabalhoCesar
node_modules
node_modules/
node_modules/*
/edson-java/aula01/nbproject/private/
/edson-java/aula01/build/
/edson-java/aula01/dist/